{{ define "main" }}
<div class="home">
	<img class="banner" src="https://n1channel.b-cdn.net/images/bg.jpg">
	<div class="allseries">
		<div class="serie" onclick="location.href='/kdrama/?s=alice'">
			<img class="serithumb" src="https://n1channel.b-cdn.net/images/alice.jpg">
			<label class="title">Alice</label>
		</div>
		<div class="serie">
			<img class="serithumb" src="https://n1channel.b-cdn.net/images/alice.jpg">
			<label class="title">Alice</label>
		</div>
		<div class="serie">
			<img class="serithumb" src="https://n1channel.b-cdn.net/images/alice.jpg">
			<label class="title">Alice</label>
		</div>
		<div class="serie">
			<img class="serithumb" src="https://n1channel.b-cdn.net/images/alice.jpg">
			<label class="title">Alice</label>
		</div>
		<div class="serie">
			<img class="serithumb" src="https://n1channel.b-cdn.net/images/alice.jpg">
			<label class="title">Alice</label>
		</div>

	</div>
</div>
{{end}}