{{ define "main" }}
<script type="text/javascript" src="/js/home.js"></script> 
<div class="home">
	    {{- partial "slide.html" . -}}
	    {{- partial "new.html" . -}}
	<img class="bannerad" id="hpad1"  src="https://via.placeholder.com/1024x120.jpg">
	<label class="catelbl">K-Drama Series</label>
	<hr>
	<div id="K-Drama" class="allseries">
		
  
	</div>
	<label  class="catelbl">J-Drama Series</label>
	<hr>
	<div id="J-Drama" class="allseries" ></div>

	
	<img class="bannerad" id="hpad2"  src="https://via.placeholder.com/1024x120.jpg">
	<label class="catelbl">Chinese-Drama Series</label>
	<hr>
	<div id="Chinese-Drama" class="allseries">
		

	</div>
	<label class="catelbl">Anime Series</label>
	<hr>
	<div id="Anime" class="allseries">
		

	</div>
</div>

{{end}}