{{ define "main" }}
<link rel="stylesheet" href="/css/drama.css" media="screen">
	<img class="bannerad" id="hpad"  src="https://via.placeholder.com/1024x120.jpg">
<label class="eptitle">Alice 2020 |  Episode 1</label>
<video class="video" controls>
  <source src="https://n1channel.b-cdn.net/Kdrama/y2mate.com%20-%20Alice%20K-drama%20trailer_1080p.mp4" type="video/mp4">
  <source src="https://n1channel.b-cdn.net/Kdrama/y2mate.com%20-%20Alice%20K-drama%20trailer_1080p.mp4" type="video/ogg">
  Your browser does not support HTML video.
</video>
	<img class="bannerad" id="hpad"  src="https://via.placeholder.com/1024x120.jpg">
<div>
<label class="Episodes">All Episodes</label>
<a href="/watch/?s=alice?ep=1">Alice 2020 |           Episode 1</a>
</div>	
{{end}}