
<nav class="navbar">
<img class="logo" src="/logo.jpg"  onclick="location.href='/'">
<form id="search" class="search" action="/">
	<div><input class="searchbox" type="text" placeholder="Search" name="search"><hr></div>
	<img class="searchbtn" src="/search.png"  onclick="document.getElementById('search').submit();">
</form>	
<img onclick="showcat();" src="/128x128.png" style="width: 35px; height: 35px; display: block; margin: auto;">
</nav>
<div id="cat" class="catbar">
<div class="cats">
	<img class="catimg" src="/cat.jpg">
	<label class="catlbl">Latest News</label>
</div>		
<div class="cats" onclick="location.href='/kdrama'">
	<img class="catimg" src="/cat.jpg">
	<label class="catlbl">KDrama</label>
</div>	
<div class="cats">
	<img class="catimg" src="/cat.jpg">
	<label class="catlbl">JDrama</label>
</div>	
<div class="cats">
	<img class="catimg" src="/cat.jpg">
	<label class="catlbl">ChineseDrama</label>
</div>	
<div class="cats">
	<img class="catimg" src="/cat.jpg">
	<label class="catlbl">ThaiSeries</label>
</div>	
	
</div>
<div class="nav"></div>
