<div id="news" class="latestnews" >
<label class="newstitle"> Latest News</label>
<hr>
	<div class="newsbox">
		<img  class="thumb" src="https://miro.medium.com/max/900/0*GNuv9ji6KXwiWwjp">
		<div class="info" >
			<label class="title">News title</label><label>Date : </label>
			<p>summary news </p>
		</div>
	</div>
	<div class="newsbox">
		<img  class="thumb" src="https://miro.medium.com/max/900/0*GNuv9ji6KXwiWwjp">
		<div class="info" >
			<label class="title">News title</label><label>Date : </label>
			<p>summary news </p>
		</div>
	</div>
	<div class="newsbox">
		<img  class="thumb" src="https://miro.medium.com/max/900/0*GNuv9ji6KXwiWwjp">
		<div class="info" >
			<label class="title">News title</label><label>Date : </label>
			<p>summary news </p>
		</div>
	</div>
	
</div>